.teamlanding {
    background-image: url(../../Assets/img/gdscAITRlogo.png);
    height: 48vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}
  
  .first-title {
    font-family: "GoogleSans-Bold" !important;
  }

  .G {
    color: #ea4335;
  }
  
  .D {
    color: #4285f4;
  }
  
  .S {
    color: #0f9d58;
  }
  
  .C {
    color: #fbbc04;
  }
  
  /*make responsive*/
  @media screen and (max-width: 600px) {
    .teamlanding {
      background-image: url(../../Assets/img/gdscAITRlogo.png);
      height: 32vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;  
    }
  }
  
  .first-title {
    font-size: 6.5em;
    transform: translateY(-2rem);
    font-family: "GoogleSans-Bold" !important;
  }
  
  .teamsCardContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
  
    flex: 1 1;
  }
  
  .margin-2 {
    margin-top: 2rem;
  }
  
  .margin-1 {
    margin-top: 1rem;
  }
  
  .teamCard {
    margin: 5rem 0;
    width: 280px;
    height: 235px;
    background-image: url(../../Assets/img/bg3.png);
    background-size: cover;
    background-position: center;
    border-radius: 32px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* box-shadow: rgb(149 157 165 / 0%) 0px 8px 24px; */
  }
  .teamImage {
    position: relative;
    bottom: 100px;
    width: 120px;
    border-radius: 50%;
    border: solid 1px black;
    box-shadow: 0 8px 40px -12px rgba(0, 0, 0, 0.3);
  }
  
  .team-heading {
    font-size: 1.4rem;
  }
  
  .connect-btn {
    background: none;
    border: none;
    margin: 0rem 0rem;
    padding: 0 0;
    border-radius: 15%;
    cursor: pointer;
    outline: none;
    width: 2rem;
  }
  
  .connect-icon {
    width: 100%;
    height: 100%;
  }

  h1 {
    text-align: center;
  }

  h2 {
    text-align: center;
  }
